/* Carousel and navbar */
.slideshow, .slideshow img{
    height: 450px;
}
.dangkytuvan{
    /* height: 275px; */
    background-image: linear-gradient(90deg, #FFBE88, #D6C7A8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    box-sizing: border-box;
}
.dangkytuvan h3{
    font-size: 20px;
    color: #5A280E;
    font-weight: 800;
    text-align: center;
}
.dangkytuvan p:nth-child(2),.dangkytuvan p:nth-child(4) {
    font-weight: 700;
    color: #5A280E;
    font-size: 14px;
    text-align: center;
}
#register a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 6px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}
/* end */

/* reason for choose */
.reason-choose{
    height: 454px;
    background-image: url(../image/reasonchoose.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}
.reason-content{
    position: absolute;
    top: 10px;
    left: 20px;
    bottom: 10px;
    right: 20px;
    z-index: 10;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.reason-content p{
    text-align: center;
}
.reason-content h4{
    text-align: center;
}
.line-logo div{
    background-color: #ffffff;
}
.reason-content div i{
    color: #ffffff
}
.box-item{
    color: #ffffff;
    padding-left: 30px;
    width: 100%;
}
.reason-item{
    width: 100%;
    height: 50px;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.reason-item img{
    width: 50px;
    height: 50px;
}
/* end */

/* myproduct */
.myproducts{
    padding: 20px 20px;
    box-sizing: border-box;
    background-image: linear-gradient(110deg, #B56B2A, #DDB367);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myproducts h4{
    font-weight: 800;
    text-align: center;
}
.myproducts-content{
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.product-item p{
    font-weight: 700;
}
.coin{
    font-weight: 700;
    color: brown;
}
.product-item{
    background-image: linear-gradient(0, #659999, #f4791f);
}

.line-logo-products div{
    background-color: grey;
    border-color: #ffffff;
}
.line-logo-products i{
    color: grey;
}
.mycart{
    width: 247px;
}
.mycart img{
    width: 100%;
    height: 247px;
}
.myproducts h4{
    color: #ffffff;
}
/* end */

/* Nhan xet của khách hàng */
.nhanxetkhachhang{
    padding: 20px;
    box-sizing: border-box;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/coffeebg.jpg);
}
.myclient{
    width: 50%;
    height: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    z-index: 1;
}
.formtuvan{
    width: 50%;
    height: 100%;
    z-index: 100;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    box-sizing: border-box;
}
.myclient h3{
    text-align: center;
}

.myclient-object{
    margin-top: 25px;
    padding: 10px;
    box-sizing: border-box;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.avatar{
    width: 70px;
    height: 70px;
    border-radius: 36px;
}
#ten{
    text-align: center;
}
.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 36px;
}
.myclient-object img:nth-child(2){
    width: 160px;
    height: 50px;
}

#ten{
    font-size: 20px;
    font-weight: 700;
}
#comments{
    text-align: center;
}
.cicle-group{
    position: absolute;
    display: flex;
    bottom: -30px;

}
.cicle-item{
    margin: 10px;
    width: 20px;
    height: 20px;
    border: 3px solid #5A280E;
    border-radius: 12px;
}
.dieukhien{
    position: absolute;
    height: 100%;
}
.dieukhien-left{
    left: -20px;
}
.dieukhien-right{
    right: -20px;
}
.dieukhien-right a i{
    transform: rotate(180deg);  
}
.dieukhien a i{
    margin-top: 20px;
    font-size: 20px;

}
.dieukhien {
    padding-top: 50px;
    box-sizing: border-box;
}
#client{
    z-index: 100;

}
.slideleft{
    animation-name: slide-left;
    animation-duration: 1s;
    transition: 0.5s;
}

@keyframes slide-left {
0% {
    left: 0;
    transition: 0.5s;
}
100% {
    left: -100%;
    transition: 0.5s;

}
}  
.lopphu{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.72;
} 
.mo{
    opacity: 0.65;
}
.formtuvan form{
    width: 80%;
}
.texttuvan{
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 5px;
    border-color: #355370;
}
#modaljs{
    display: none;
}
.modal-backdrop{
    z-index: 0;
}
.error{
    color: red;
}
.success{
    color: green;
}
.modalcuatoi{
    color: black;
}
/* end khach hang */
.uytin{
    height: 345px;
    background-image: url(../image/uytin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-content{
    width: 600px;
    height: 200px;
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-content p{
    text-align: center;
}
.box-content p:first-child{
    font-size: 26px;
    color: #34495E;
    font-weight: 700;
}
.box-content p:nth-child(2){
    font-size: 16px;
    color: #34495E;
    font-weight: 600;
    font-style: italic;
}
.hotline{
    color: #34495E;
    font-weight: 600;
}
.box-content p:last-child{
    color: green;
}
.box-content p:last-child span:last-child{
    color: #E74C3C;
    font-size: 18px;
    font-weight: 600;
}
.box-content p{
    margin: 20px 0px;
}
.hotline{
    font-weight: 700;
}
/* end uy tin */
.dichvu{
    height: 100px;
    background-color: #5A280E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
} 
.dichvu-item{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dichvu-item img{
    width: 80px;
    height: 60px;
} 
.dichvu-item div{
    margin-left: 4px;
    font-size: 13px;
    font-weight: 670;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* end dich vu */
.hide{
    opacity: 0;
}


/* ======================================
=============================================== */
/* add animation */
.mycart-animation{
    animation: zoomBig 0.5s forwards;
}
@keyframes zoomBig {
    from{
        scale: 2;
    }to{
        scale: 1;
    }
}
.mycartbody{
    overflow: hidden;

}
.mycart img{
    transition: 0.4s;
}
.mycart:hover img{
    transition: 0.4s;
    scale: 1.5;
}

.box-content p span:last-child:hover{
    font-weight: 700;
    cursor: pointer;
}


/* =============== responsive for home */

@media (min-width: 768px) and (max-width: 991px) {
    .nhanxetkhachhang{
        height: 120%;
    }
    .myclient h3{
        font-size: 20px;
    }

    #comments{
        font-size: 15px;
    }
    .dichvu-item p{
        font-size: 10px;
    }
    .dichvu-item img{
        width: 30px;
        height: 30px;
    }
    .hotline{
        color: green;
    }


}


@media (min-width: 395px) and (max-width: 767px) {
    .slideshow, .slideshow img{
        height: 300px;
    }
    .navs-slide{
        height: calc(100% - 300px);
    }
    .reason-content{
        font-size: 13px;
        text-align: center;
    }
    .product-item{
        width: 45%;
        height: 250px;
    }
    .product-item p{
        font-size: 12px;
    }
    .nhanxetkhachhang{
        flex-direction: column;
        justify-content: center;
        height: 1400px;
    }
    .myclient{
        width: 100%;
    }
    .formtuvan{
        width: 100%;
    }
    .mymodal-content{
        width: 80%;
        height: 50%;
        margin: auto;
    }
    .dichvu-item p{
        font-size: 8px;
    }
    .dichvu-item img{
        width: 30px;
        height: 30px;
    }
    .hotline{
        color: green;
    }
}
@media (max-width: 394px) {
    .slideshow, .slideshow img{
        height: 300px;
    }
    .navs-slide{
        height: calc(100% - 300px);
    }
    .reason-item p{
        font-size: 10px;
    
    
    }
    .nhanxetkhachhang{
        flex-direction: column;
        justify-content: center;
        height: 1400px;
    }
    .myclient{
        width: 100%;
    }
    .formtuvan{
        width: 100%;
    }
    .hotline{
        color: green;
    }
    .box-content p:nth-child(2){
        color: green;
        font-weight: 800;
    }
    .dichvu-item p{
        font-size: 6px;
    }
    .dichvu-item img{
        width: 20px;
        height: 20px;
    }
    .scrollontop{
        width: 30px;
        height: 30px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .scrollontop img{
        width: 30px;
        height: 30px;
        border-radius: 16px;
    }
    .mymodal-content{
        width: 70%;
        height: 40%;
        margin: auto;
    }


}









