/* Carousel and navbar */
.navs-slide{
    height: 500px;
}
.navs-slide-header{
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #5A280E;
    padding: 0px 18%;

}

.navs-slide-header p a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 750;
    font-size: 14px;
}
.slideshow, .slideshow img{
    height: 450px;
}
.dangkytuvan{
    height: 275px;
    background-image: linear-gradient(90deg, #FFBE88, #D6C7A8);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dangkytuvan h3{
    font-size: 20px;
    color: #5A280E;
    font-weight: 800;
}
.dangkytuvan p:nth-child(2),.dangkytuvan p:nth-child(4) {
    font-weight: 700;
    color: #5A280E;
    font-size: 14px;
}
/* end */

/* reason for choose */
.reason-choose{
    height: 454px;
    background-image: url(../image/reasonchoose.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.reason-content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 53%;
    z-index: 10;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.line-logo div{
    background-color: #ffffff;
}
.reason-content div i{
    color: #ffffff
}
.box-item{
    color: #ffffff;
    padding-left: 30px;
    width: 100%;
}
.reason-item{
    width: 100%;
    height: 50px;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.reason-item img{
    width: 50px;
    height: 50px;
}
/* end */

/* myproduct */
.myproducts{
    padding: 30px;
    box-sizing: border-box;
    background-image: linear-gradient(110deg, #B56B2A, #DDB367);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myproducts-content{
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.line-logo-products div{
    background-color: grey;
    border-color: #ffffff;
}
.line-logo-products i{
    color: grey;
}
.mycart img{
    width: 247px;
    height: 247px;
}
/* end */

/* Nhan xet của khách hàng */
.nhanxetkhachang{
    height: 570px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../image/coffeebg.jpg);
}
.myclient{
    left: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 30px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    z-index: 1;
}
.formtuvan{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 100;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myclient-object{
    margin-top: 25px;
    padding: 10px;
    box-sizing: border-box;
    width: 70%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.avatar{
    width: 70px;
    height: 70px;
    border-radius: 36px;
}
.avatar img{
    width: 100%;
    height: 100%;
    border-radius: 36px;
}
.myclient-object img:nth-child(2){
    width: 160px;
    height: 50px;
}

#ten{
    font-size: 20px;
    font-weight: 700;
}
#comments{
    text-align: center;
}
.cicle-group{
    position: absolute;

    display: flex;
    bottom: 10px;

}
.cicle-item{
    margin: 10px;
    width: 20px;
    height: 20px;
    border: 3px solid #5A280E;
    border-radius: 12px;
}
.dieukhien{
    position: absolute;
    height: 100%;
}
.dieukhien-left{
    left: 10px;
}
.dieukhien-right{
    right: 10px;
}
.dieukhien-right a i{
    transform: rotate(180deg);  
}
.dieukhien a i{
    margin-top: 20px;
    font-size: 20px;

}
.dieukhien {
    padding-top: 50px;
    box-sizing: border-box;
}
#client{
    z-index: 100;
    animation-name: slide-left;
    animation-duration: 1s;
    transition: 0.5s;

}

@keyframes slide-left {
0% {
    left: 0;
    transition: 0.5s;
}
100% {
    left: -100%;
    transition: 0.5s;

}
}  
.lopphu{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.8;
} 
.mo{
    opacity: 0.6;
}
.formtuvan form{
    width: 80%;
}
.texttuvan{
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
}
/* end khach hang */
.uytin{
    height: 345px;
    background-image: url(../image/uytin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
}
.box-content{
    width: 600px;
    height: 200px;
    margin-left: 25%;
    margin-top: 3%;
}
.box-content p:first-child{
    font-size: 26px;
    color: #34495E;
    font-weight: 700;
}
.box-content p:nth-child(2){
    font-size: 16px;
    color: #34495E;
    font-weight: 600;
    font-style: italic;
}
.box-content p:last-child span:first-child{
    color: #34495E;
    font-weight: 600;
}
.box-content p:last-child span:last-child{
    color: #E74C3C;
    font-size: 18px;
    font-weight: 600;
}
.box-content p{
    margin: 20px 0px;
}
/* end uy tin */
.dichvu{
    height: 120px;
    background-color: #5A280E;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.dichvu-item{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dichvu-item img{
    width: 80px;
    height: 60px;
} 
.dichvu-item div{
    font-size: 13px;
    font-weight: 670;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* end dich vu */



