*{
    margin: 0px;
    padding: 0px;
    border: none;
}

.mymain{
    width: 100%;
}
.main-contact{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
}
/* liên hệ */
.main-lienhe{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.main-lienhe h2{
    color: black;
    font-size: 30px;
}
.main-lienhe h3{
    color: gray;
    margin-top: 30px;
    font-size: 25px;
}
.main-lienhe p{
    color: grey;
    margin-top: 20px;
    font-size: 20px;
}
.main-address{
    width: 60%;
}
.main-address img{
    width: 100%;
    height: 100%;
}
.main-lienhe a::after{
    content: "Nhấp vào đường link này" " " attr(href);
}
.main-lienhe a{
    text-decoration: none;
    color: grey;
    transition: 0.3s;

}
.main-lienhe a:hover{
    transition: 0.3s;
    color: blue;
}





/* =========================== */
/* tin tức */
.main-tintuc{
    display: flex;
    padding: 20px;
    box-sizing: border-box;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
  
}
.main-tintuc-noidung{
    width: 270px;
    height: 370px;
    border: 3px solid aliceblue;
    margin: 20px;
}
.noidung{
    margin-top: 10px;
    width: fit-content;
}
.noidung h4{
    color: rgb(91,91,91);
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}
.noidung p{
    color: rgb(136,136,136);
    margin-top: 15px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.main-tintuc-noidung img{
    width: 100%;
}

.mymain-chuchay{
    height: 50px;
    background-color: #80808045;
    padding-top: 10px;
    box-sizing: border-box;
    color: #E03D76;
    font-weight: 700;
}
.noidung h4{
    font-size: 15px;
}
.noidung p{
    font-size: 12px;
}



/* Khách sạn */

.main-tieude-img img{
    width: 100%;
    height: 100%;
}
.main-noidung{
    margin: auto 40px;
    font-size: 20px;
    padding: 20px 0;
    box-sizing: border-box;
}
.main-noidung details p{
    text-indent: 50px;
}
/* ================================== */
/* Cua hang */
.main-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
}
.img-title-sale img{
    width: 60%;
}
.main-sanpham{
    display: grid;
    grid-template-areas: "A B C" "D E F" "G H K";
    column-gap: 40px;
    row-gap: 40px;
    width: fit-content;
    margin: auto;
}
.main-sanpham-chitiet{
    border: 3px solid  rgb(238,237,237);
    width: fit-content;
    background-color: rgb(248,246,246);
}
.main-sanpham-chitiet img{
    width: 270px;
}
.main-sanpham-giathanh{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color{
    font-weight: 700;
    color: red;
}
.choice{
    width: 150px;
    height: 30px;
    border: 1px solid black ;
    border-radius : 3px;
    
}
.main-xemthem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    width: 210px;
    height: 40px;
    margin: 20px auto;
    border: 1px solid rgb(217,217,217);
    background-color: grey;
    padding-top: 10px;
}
.main-xemthem span{
    font-size: 25px;
}
.main-chonsanpham span,option{
    font-size: 20px;
}



/* responsive for khach san */

@media (max-width: 1030px) {
    .main-contact{
        flex-direction: column;
    }
    .main-lienhe{
        width: 100%;
    }
    .main-lienhe h2,.main-lienhe h3 {
        text-align: center;
    }
    .main-lienhe p{
        text-align: center;
    }
    .main-address{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}
@media (min-width: 465px) and (max-width: 794px){
    details p{
        font-size: 16px;
    }
    summary b i {
        font-size: 18px;
    }
    .main-lienhe p{
        padding: 0;
        font-size: 13px;
    }
    .main-tintuc-noidung{
        width: 200px;
    }




}




@media (max-width: 464px){
    .main-noidung{
        margin: 20px;
    }
    summary b i {
        font-size: 16px;
    }
    details p{
        font-size: 12px;
    }
    .main-contact{
        padding: 15px;
    }
    .main-lienhe h2{
        font-size: 20px;
    }
    .main-lienhe h3{
        font-size: 15px;
    }
    .main-lienhe p{
        font-size: 10px;
    }
    .main-tintuc-noidung{
        width: 100px;
        height: 250px;
    }
    .noidung p{
        margin: 5px;
        font-size: 8px;
    }
    .noidung h4{
        font-size: 10px;
    }

}
