*{
    margin: 0px;
    padding: 0px;
    border: none;
}
.mymain{
    width: 100%;
}
.main-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
}
/* liên hệ */
.main-lienhe{
    display: flex;
    flex-direction: column;
}
.main-lienhe h2{
    color: black;
    font-size: 30px;
}
.main-lienhe h3{
    color: gray;
    margin-top: 30px;
    font-size: 25px;
}
.main-lienhe p{
    color: grey;
    margin-top: 20px;
    font-size: 20px;
}
.main-adress{
    position: relative;
}
/* =========================== */
/* tin tức */
.main-tintuc{
    display: grid;
    margin: 30px auto;
    grid-template-areas: "A B C " ;
    grid-template-rows: "D";
    row-gap: 30px;
    width: fit-content;
    column-gap: 40px;
  
}
.main-tintuc-noidung{
    border: 3px solid aliceblue;
    width: fit-content;
}
.noidung{
    margin-top: 10px;
    width: fit-content;
}
.noidung h4{
    color: rgb(91,91,91);
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}
.noidung p{
    color: rgb(136,136,136);
    margin-top: 15px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.main-tintuc-noidung img{
    width: 270px;
}

.main-tieude-img{
    margin-left: 0px;
}
.main-tieude-img img{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.main-noidung{
    margin-top: 20px;
    margin-left: 75px;
    font-size: 20px;
}
/* ================================== */
/* Cua hang */
.main-title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 10px;
}
.img-title-sale img{
    width: 300px;
    height: 80px;
}
.main-sanpham{
    display: grid;
    grid-template-areas: "A B C" "D E F" "G H K";
    column-gap: 40px;
    row-gap: 40px;
    width: fit-content;
    margin: auto;
}
.main-sanpham-chitiet{
    border: 3px solid  rgb(238,237,237);
    width: fit-content;
    background-color: rgb(248,246,246);
}
.main-sanpham-chitiet img{
    width: 270px;
}
.main-sanpham-giathanh{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.color{
    font-weight: 700;
    color: red;
}
.choice{
    width: 150px;
    height: 30px;
    border: 1px solid black ;
    border-radius : 3px;
    
}
.main-xemthem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    width: 210px;
    height: 40px;
    margin: 20px auto;
    border: 1px solid rgb(217,217,217);
    background-color: grey;
    padding-top: 10px;
}
.main-xemthem span{
    font-size: 25px;
}
.main-chonsanpham span,option{
    font-size: 20px;
}
