.main-background{
    height: 450px;
    background-image: url('../image/gioithieu.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* CSS for title gioi thieu */
.main-content__title{
    padding-top: 40px;
    text-align: center;
    margin: auto;
    font-weight: 800;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
    box-sizing: border-box;
}

.main-content__title span:first-child{
    color: #C9BBBB;
}
.main-content__title span:last-child{
    color: #000000;
}
.title--gioithieu{
    margin: 20px;
    font-weight: 800;
    font-family: 'Dancing Script', cursive;

}
/* CSS =width 100% cho text */
.main-content-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.history{
    text-indent: 60px;
    font-size: 15px;
}
.main-content-text ol{
    padding-left: 50px;
    box-sizing: border-box;
}
.main-content-text ol ol{
    list-style-type: circle;
}
.main-content-text ol ol li{
    color: #7DC2AC;
}

.main-content-text__vechungtoi{
    font-size: 50px;
    color: #5A280E;
    text-align: left;
    margin: 20px 0px;
    font-family: 'Rampart One', cursive;


}
/* CSS for p label */
.label-text{
    font-weight: 800;
    font-style: italic;
}














/* ====================================== responsive */
@media (max-width: 394px) {
    .main-background{
        height: 250px;
    }
    .main-content{
        padding: 10px;
    }
    .main-content-text__vechungtoi{
        font-size: 28px;
    }


}
