*{
    margin: 0px;
    padding: 0px;
    border: none;
}

a{
    text-decoration: none;
}

/* CSS cho main-container */
.main-container{
    width: calc(100% - 80px);
    height: 2000px;
    background-color: #F9F9F9;
    margin: auto;
    position: relative;
}

/* CSS for Fixed fb-zalo-hotline */
.zalo-facebook-hotline{
    position: fixed;
    width: 200px;
    height: 135px;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.zalo-facebook-hotline__chatzalo{
    width: 110px;
    background-color: #8EB22B;
}
.zalo-facebook-hotline__chatfb{
    width: 150px;
    background-color: #125C9E;
}
.zalo-facebook-hotline__hotline{
    width: 90%;
    background-color: #D11A59;
}

.zalo-facebook-hotline__item{
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #ffffff;
}

/* CSS for header */
.header{
    height: 170px;

}
.header-top{
    height: 120px;
    padding: 0px 150px;
    box-sizing: border-box;
}
.header-bottom{
    height: calc(100% - 120px);
    background-image: linear-gradient(0, #984515, #5A280E);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CSS cho thẻ p trong menu */
.header-bottom__p{
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 900;
    color: #ffffff;
}

/* CSS dong dau tien trong the header-top */
.header-top__chaomungqk{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-top__chaomungqk__icons{
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa--header{
    font-size: 12px;
    color: #999999
}

.header-top__chaomungqk__welcome{
    color: #777777;
    font-size: 14px;
    font-weight: 600;
}
/* CSS for logo */
.header-top-logo{
    display: flex;
    justify-content: space-between;
}

.header-top-logo__img img{
    width: 78px;
    height: 100%;
}

/* CSS for chuyen cung cap si */
.header-top__content p{
    color: #29ABE2;
    font-weight: 800;
    font-size: 13px;
}
.header-top__content h3{
    color: #5A280E;
    margin-left: 25px;
    font-weight: 700;
}
.header-top__content h2{
    font-size: 18px;
    color: #E67E22;
    margin-left: 45px;
    font-weight: 1000;
}
.header-top__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}




/* CSS for gio hang */
.header-top__call__phone{
    width: 75px;
    height: 70px;
}

.header-top__call{
    width: 270px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top__call__sdt span{
    font-size: 19px;
    color: #FF0000;
    font-weight: 800;
}

.header-top__call__giohang{
    width: 60px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #29ABE2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-top__call__giohang p{
    color: red;
    font-weight: 600;
}
.fa-basket-shopping{
    width: 20px;
    height: 20px;
    color: #29ABE2;
}
/* Hover for gio hang */
.header-top__call__giohang:hover{
    background-color: #29ABE2;
}
.header-top__call__giohang:hover p{
    color: #ffffff;
}
.header-top__call__giohang:hover i{
    color: #ffffff;
}

.icon-muiten{
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 25px;
    opacity: 0;
    transition: 0.5s;

}

/* CSS for line item */

.item--line{
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.line{
    width: 80px;
    height: 2px;
    background-color: grey;
    display: inline-block;
}

.square{
    width: 18px;
    height: 18px;
    border: 3px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    box-sizing: border-box;
}
.subsquare{
    width: 50%;
    height: 50%;
    border: 3px solid grey;
    /* transform: rotate(45deg); */
    box-sizing: border-box;

}