*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

/* CSS cho main-container */
.main-container{
    width: calc(100% - 80px);
    height: 2000px;
    background-color: #F9F9F9;
    margin: auto;
}

/* CSS for header */
.header{
    height: 170px;

}
.header-top{
    height: 120px;
}
.header-bottom{
    height: calc(100% - 120px);
    background-image: linear-gradient(0, #984515, #5A280E);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CSS cho thẻ p trong menu */
.header-bottom__p{
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 900;
    color: #ffffff;
}

/* CSS dong dau tien trong the header-top */
.header-top__chaomungqk{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    box-sizing: border-box;
}

.header-top__chaomungqk__icons{
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa--header{
    font-size: 12px;
    color: #999999
}

.header-top__chaomungqk__welcome{
    color: #777777;
    font-size: 14px;
    font-weight: 600;
}