
.main__background{
    height: 445px;
    background-image: url('../image/coffeebg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main__background{
    padding: 0px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Hover for mui ten */
.main__background:hover .icon-muiten{
    opacity: 1;
    transition: 0.5s;
}
.main__background:hover .icon-muiten-left{
    transition: 0.5s;
    position: relative;
   left: -10px;
}
.main__background:hover .icon-muiten-right{
    transition: 0.5s;
    position: relative;
    right: -10px;
}

/* CSS for main-title */
.main-title{
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 130px;

    padding-top: 30px;
    box-sizing: border-box;
    background-image: linear-gradient(90deg, #C7BD9A, #FCF9F2);
}

.main-title h2{
    color: #5A280E;
    margin-bottom: 20px;
}

.main-title__p1{
    color: #5A280E;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 3px;
}


/* CSS for cac the p */

.main-title__p2{
    color: #5A280E;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
}

.btn-dangky{
    width: 170px;
    height: 40px;
    background-color: #5A280E;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

/* main-reason */
.main-reason{
    height: 700px;
    display: flex;
    position: relative;
}

.main-reason-item{
    width: 50%;
    height: 100%;
}

/* CSS for reason left */
.main-reason-left{
    background-image: url('../image/coffeereason2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* CSS for reason right */

.main-reason-right{
    background-image: url('../image/coffereason1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.main-reason-right h3{
    padding-top: 30px;
    padding-bottom: 10px;
    box-sizing: border-box;
    font-size: 25px;
}

.main-reason-right p{
    margin-bottom: 20px;
}

.main-reason-right__item{
    color: #ffffff;
}

/* ADD icon item vao reason */

.main-reason-content{
    height: 80%;
    position: absolute;
    left: 47.05%;
    top: 120px;

}
.reason__box{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;

}
.reason__box img{
    width: 75px;
    height: 80px;
}
.reason__box p{
    font-weight: 700;
}

/* CSS for products */
.main__products{
    height:  470px;
    background-image: linear-gradient(-180deg, #B3742F, #DEB468);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__products__title{
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    color: #5A280E;
}

/* CSS for product items */
.main__products__items{
    width: 1050px;
    height: 320px;
    display: flex;
    justify-content: space-between;
}

.item__product{
    width: 23.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    background-color: #ffffff;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.item__product img{
    width: 100%;
    height: 80%;
}

.item__product p:last-child{
    color: red;
    font-weight: 700;
}

/* Đăng ký tư vấn */
.main-dangkytuvan{
    height: 570px;
    background-image: url('../image/coffeebg.jpg');
    position: relative;
    display: flex;
}
/* Khoi bao phu, opacity */
.background--baophu{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.2;
}
/* Tao div content chua noi dung, ghi de lop bao phu */
.main-dangkytuvan__content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 120px;
    right: 120px;
    display: flex;
    justify-content: center;
}

.main-dangkytuvan-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* css for the h2 */
.main-dangkytuvan__title{
    font-size: 20px;
    margin: 20px;
    color: #ffffff;
    text-align: center;
}

.main-dangkytuvan-right{
    width: 50%;
    display: flex;
    flex-direction: column;

}
/* CSS for avatar */
.avatar{
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 41px;
}
.avatar img{
    border-radius: 40px;
    width: 100%;
}
.star--transparent{
    margin-top: 16px;
    width: 200px;
}
/* Person gom cac thong tin ve avatar */
.person{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authorname{
    color: #ffffff;
    font-weight: 700;
    font-style: italic;
    font-size: 20px ;
    margin: 10px;
}

.person__ghichu{
    color: #ffffff;
    font-style: italic;
    text-align: center;
}

.main-dangkytuvan-left__item{
    color: #ffffff;
    margin-bottom: 50px;
    margin: 20px auto;
}

/* CSS for the input */
.ip__tencuaban{
    width: 100%;
    height: 35px;
    padding-left: 15px;
    box-sizing: border-box;
}

.birthday{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.birthday-select{
    width: 30%;
    height: 40px;
    padding: 0px 10px;
    box-sizing: border-box;
}

.main-dangkytuvan-right__label{
    display: block;
    font-size: 17px;
    color: #ffffff;
    margin: 10px 0px;
    font-weight: 800;
}
.input__text{
    margin-top: 20px;
    width: 100%;
    height: 150px;
}

/* CSS for button */
.btndktv{
    font-size: 17px;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background-color: #F1C40F;
    color: #ffffff;
    margin-bottom: 10px;
}
/* css for luu y */
.luuy{
    color: #ffffff;
    font-style: italic;
}

/* CSS for main uytin san pham */
.main-uytin{
    height: 345px;
    background-image: url('../image/bghouse.jpg');
    position: relative;
}
/* Lop phu back ground */
.opacity-bg{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #BD986B;
    opacity: 0.3;
}
.main-uytin__main{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
}

.main-uytin-content{
    padding: 50px 130px;
    box-sizing: border-box;
    width: 60%;

}

.main-uytin-content__h2{
    text-align: center;
    font-size: 27px;
    color: #34495E;
}

.main-uytin-content p{
    margin: 20px 0px;
    font-size: 20px;
    font-style: italic;
    color: #34495E;
    font-weight: 700;
}

.main-uytin-content p span:last-child{
    color: #EAE3D1;
    opacity: 0.5;
}



.main-uytin-bg{
    width: 40%;
    height: 100%;
    background-image: url('../image/tuivaicaphe.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    
}
/* CSs for dich vu */

.main-dichvu{
    height: 110px;
    background-color: #5A280E;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-dichvu_box{
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 24%;
    color: #ffffff;
}

.main-dichvu_box img{
    width: 60px;
    height: 45px;
    margin-right: 8px;
}

.main-dichvu_box p span:first-child{
    font-size: 12px;
    font-weight: 900;
}


/* CSS for dia chi */
.main-diachi{
    height: 245px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-diachi-box{
    width: 26%;
    height: 200px;
}

.main-diachi-box h5{
    color: #5A280E;
    margin-bottom: 10px;
}

.main-diachi-box__video,.main-diachi-box__video iframe{
    width: 90%;
    height: 170px;
}

/* css for footer */
.main-footer{
    height: 50px;
    background-color: #5B5B5B;
    display: flex;
    align-items: center;
    position: relative;
}

.main-footer p{
    font-size: 18px;
    font-weight: 800;
    padding-left: 100px;
    box-sizing: border-box;
    color: #ADADAD;

}
/* css for mui ten len */
.muitenup{
    position: absolute;
    right: 0px;
    top: 0px;
}

.muitenup .muitenup-icon{
    opacity: 1;
    scale: 0.7;
    transform: rotate(90deg);
}